.chatBody{
  position: relative;
  height: 100%;
  left: 16%;
  width: 84%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 5%;
  width: 65%;
  height: 85%;
  max-height: 100%;
  background: rgb(242, 242, 242); 
  border-radius: 6px;
  box-shadow: 0px 2px 6px #171a1f, 0px 0px 2px #171a1f; 
}
.chatContainer {
  position: relative; 
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%; 
  height: 100%;
  max-height: 100%;
  background: rgb(242, 242, 242); 
}
.chat2 {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 5%;
  width: 65%;
  height: 85%;
  max-height: 100%;
  background: rgb(242, 242, 242); 
  border-radius: 6px;
  box-shadow: 0px 2px 6px #171a1f, 0px 0px 2px #171a1f; 
}
.chatLine{
  position: relative;
  display: flex;
  width: 2px;
  height: 85%;
  background: #969696;
}
.historyContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  height: 100%;
  width: 30%;
  background: rgb(242, 242, 242);
}
.inputContainer{
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 2%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: auto;
}
.textbox{
  position: relative;
  display: flex;
  flex: 1;
  height: 10%;
  border-radius: 18px; 
  border-width: 0px;
  padding-left: 12px; 
  padding-right: calc(12px + 35px + 10px); 
  border: 2px solid #c2c0c0;
  font-size: 19px;
  font-family: "Satoshi", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-right: 10px;
  resize: vertical;
  overflow-y: auto;
}
.sendButton{
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #f2f2f2;
  border: 2px solid #c2c0c0;
}
.sendIcon{
  width: 100%;
  height: 100%;
}
.messagesContainer{
  position: absolute;
  display: flex;
  top: 4%;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  height: calc(90% - 60px);
}
.span-assistant{
  position: relative;
  display: flex;
  padding-bottom: 10px;
  font-size: 19px;
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.message-assistant{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  font-family: "Satoshi", sans-serif;
  font-weight: 300;
  font-style: normal;
  background: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0px 1px 1px #171a1f, 0px 0px 2px #171a1f;
}
.error-message{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
  font-family: "Satoshi", sans-serif;
  font-weight: 600;
  font-style: normal;
  background: #f8b6b6;
  border: 10px solid #bf0a2e;
  border-radius: 8px;
  box-shadow: 0px 1px 1px #bf0a2e, 0px 0px 2px #bf0a2e;
}
.span-user{
  position: relative;
  display: flex;
  font-size: 19px;
  padding-bottom: 10px;
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.message-user{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  font-family: "Satoshi", sans-serif;
  font-weight: 300;
  font-style: normal;
  background: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0px 1px 1px #171a1f, 0px 0px 2px #171a1f;
}
.messageContent{
  word-break: break-word;
}
.signin-alert{
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 23px;
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-style: normal;
  top: 45%;
}
.history{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  font-size: 19px;
  margin: 10%;
  font-family: "Satoshi", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.historyText{
  position: relative;
  display: flex;
  padding: 10px;
  word-wrap: break-word;
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
}
.threadList{
  position: relative;
  display: flex;
  right: 5%;
  flex-direction: column;
  width: 100%;
  height: 90%;
  list-style-type: none;
}
.bullet{
  position: relative;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  right: 10%;
}
.threadButton{
  border: none;
  background: none;
  font-family: "Satoshi", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.threadButton:hover {
  background-color:  #e6e6e6;
  border-radius: 10px;
}
.threadName{
  margin-top: 20%;
}
