.editor {
    position: absolute;
    align-items: center;
    height: 100%;
    width: 100%;
}

.node-red-off{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    display: flex;
    height: 95%;
    border: 5px solid #bf0a2e;
    border-radius: 10px;
    background-color: transparent;
    text-align: center;
}

.msg{
    position: relative;
    display: flex;
}

.btnReload{
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 45px;
    width: 70px;
    background: green;
    color: white;
    border-radius: 10px;
}

.node-red-off p {
    font-size: 1.2em;
    text-align: center;
}

.node-red-off a{
    font-size: 1.1em;
    text-align: center;
    color: white;
    background-color: #bf0a2e;
}

.node-red-off a:hover{
    color: white;
    background-color: #8a0923;
}

.pt-serif-regular {
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pt-serif-bold {
    font-family: "Satoshi", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.pt-serif-regular-italic {
    font-family: "Satoshi", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.pt-serif-bold-italic {
    font-family: "Satoshi", sans-serif;
    font-weight: 700;
    font-style: italic;
}