body {
    position: absolute;
    height: 100%; /* Ajusta la altura de la aplicación */
    width: 100%; /* Ajusta el ancho de la aplicación */
    font-size: 21px; /* Tamaño de letra base */
}
#root {
    height: 100%;
    width: 100%;
    position: absolute;
}
.sidebar {
    position: absolute;
    width: 16%;
    background-color: #bf0a2e; /* Cambia el color de fondo de la barra lateral según sea necesario */
    height: 100%; /* Ajusta la altura de la barra lateral */
}
.navbar-brand{
    margin-left: 10%; /* Ajusta el margen izquierdo del logotipo */
}
.navbar-brand:hover{
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transform: scale(1.1)  translateX(2%);
}
.navbar-logo {
    margin-top: 12%; /* Puedes ajustar este valor según tus necesidades */
}
.logo-svg {
    filter: invert(100%);
    width: 45%; /* Ancho del SVG */
    height: auto; /* Para mantener la proporción del aspecto */
}
.nav-item:hover{
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transform: scale(1.1);
}
.ml-2 {
    margin-top: 12%;
    margin-left: -9%;
    font-size: 110%;
}
.sidebar .nav-link {
    padding: .5rem 1rem; /* Ajusta el relleno de los elementos de enlace en la barra lateral */
    color: #ffff; /* Cambia el color del texto según sea necesario */
}
.sidebar .nav-link:hover {
    padding: .5rem 1rem; /* Ajusta el relleno de los elementos de enlace en la barra lateral */
    color: #d3cdcd; /* Cambia el color del texto según sea necesario */
}
.col-md-9 {
    padding-left: 0;
    height: 100%; /* Ajusta el espaciado a la izquierda del contenido principal */
}
.line {
    position: absolute;
    bottom: 8%;
    border-bottom: 1px solid #ccc; /* Línea sólida de color gris */ 
    padding: 10px;
    left: 50%; /* Posiciona la línea en el centro horizontal */
    transform: translateX(-50%); /* Centra horizontalmente la línea */
    width: 68%;
}
.github-container {
    position: absolute;
    top: 93%;
    transform: translateY(50%);
    left: 50%;
    transform: translateX(-50%);
}
.github-svg {
    filter: invert(100%);
    width: 35px;
    height: auto; 
}
.github-svg:hover{
    cursor: pointer; 
    transform: scale(1.2) translateX(0px);
}
.btn-container{
    text-align: center; 
    position: absolute;
    top: 85%; 
    transform: translateY(50%);
    left: 50%; 
    transform: translateX(-50%);
}
.btn {
    padding: 3px 7px;
}